@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Raleway:wght@100&display=swap');

:root{
    --color-text: rgb(66, 73, 80);
}

body{
    font-family: 'Cormorant Garamond', serif;
    color: var(--color-text);
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 92%;
    margin: 0 auto;
}

header{
    position: fixed;
    z-index: 10;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
}

.nav{
    display: flex;
    gap: 5%;
}

.nav__left,
.nav__right{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
}

.nav li{
    padding: 1rem 2rem;
}

.nav__right li:last-child{
    background-color: rgb(66, 73, 80);
}

.nav__right li:last-child a{
    color: #fff;
    position: relative;
}

.nav__right li:last-child a::after{
    content: '';
    width: 100%;
    height: 1px;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background-color: #fff;
}

.nav li a{
    text-decoration: none;
    color: rgb(66, 73, 80);
    font-size: .7rem;
    position: relative;
}

.nav li a::after{
    content: '';
    width: 0;
    height: 1px;
    background-color: var(--color-text);
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    transition: .5s ease-out;
    transform-origin: center;
}

.nav li a:hover::after{
    width: 100%;
}

.nav__logo{
    width: 50px;
}

.hero{
    height: 100vh;
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/images/hero-img.jpg');
    background-size: cover;
    background-position: bottom;
    position: relative;
}

.hero__logo{
    width: 20rem;
    filter:grayscale(1) brightness(10);
    position: absolute; 
    bottom: 4rem; 
    left: 50%;
    transform: translateX(-50%);
}


.hero__logo-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);

}

.hero__arrow{
    width: 1rem;
    grid-column: 1;
    grid-row: 1;
    transition: .5s;
}

.circle{
    grid-column: 1;
    grid-row: 1;
}

.circle circle{
    transition: 1.2s;
    stroke-dasharray: 141;
    stroke-dashoffset: 0;
}

.active circle{
    stroke-dasharray: 141;
    stroke-dashoffset: 141;
    transition: 1.2s;
}

.arrow-container{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
}

.paradise{
    font-family: 'Cormorant Garamond', serif;
    margin: 0 auto;
    color: inherit

}

.paradise h1{
    font-size: 7rem;
    text-align: center;
    font-weight: 200;
}

.paradise .paradise__text{
    margin: 5rem auto;
    width: 76vw;
    column-count: 3;
    column-gap: 6vw;
    text-align: justify;
    font-size: 1.2rem;
    letter-spacing: 2px;
    line-height: 1.5;
}

.paradise__image{
    width: 100%;
}

.paradise .paradise__welcome-text{
    font-style: italic;
    width: 30%;
    letter-spacing: 2px;
    line-height: 1.5;
    position: relative;
    margin: 5rem 0;
    margin-top: 10rem;
    margin-left: auto;
    font-size: 1.2rem;
}

.paradise .paradise__welcome-text::before{
    content: '';
    position: absolute;
    width: 40%;
    height: 1px;
    top: -2rem;
    left: 0;
    background-color: currentColor;
}

.charming-capri{
    font-size: 1.2rem;
}

.charming-capri__text{
    width: 40%;
    margin: 12rem;
    margin-left: 20rem;
    line-height: 1.8;
}

.charming-capri h1{
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); */
    font-size: 5rem;
    font-weight: 200;
}

.charming-capri__images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: 100%;
    aspect-ratio: 2.5 / 1;
}

.charming-capri__image--left{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/images/charming-left.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    background-position: center;
    position: relative;
}
.charming-capri__image--right{
    background-image:linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/images/charming-right.jpg');
    background-size: cover;
    position: relative;
}

.charming-capri__image--left img{
   width: 100%;
   height: 100%;
   opacity: 0;
   
}
.charming-capri__image--right img{
    width: 100%;
    opacity: 0;
}

.left-img__text{
    position: absolute;
    font-size: 6rem;
    color: #fff;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.park-text{
    grid-column: 2;
    width: 15%;
    line-height: 1.8;
    transform: translateX(450%);
    word-spacing: 4px;
    letter-spacing: 1px;
    margin: 5rem 0;
}